<a href="https://colab.research.google.com/github/RahulDogra-92/Supervised-Learning-Pipeline/blob/main/Unsupervised_Workflows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import numpy as np
import pandas as pd

#A simple outlier

In [47]:
# Import the LocalOutlierFactor module
from sklearn.neighbors import LocalOutlierFactor as lof

# Create the list [1.0, 1.0, ..., 1.0, 10.0] as explained
x = [1.0]*30
x.append(10.0)

# Cast to a data frame
X = pd.DataFrame(x)

# Fit the local outlier factor and print the outlier scores
print(lof().fit_predict(X))

[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1 -1]

The algorithm correctly identified the 10.0 as an outlier since it labeled it -1 which stands for anomalous. Let's move on.

Detecting Outliers in Time Series Data using Local Outlier Factor Algorithm

#Step:1 Import the Libraries

In [48]:
import numpy as np
import pandas as pd
from sklearn.neighbors import LocalOutlierFactor

#Step:2 Read in the dataset

In [49]:
dataset = pd.read_csv("/content/PRSA_Data_Aotizhongxin_20130301-20170228.csv")
dataset

          No  year  month  day  hour  ...  DEWP  RAIN   wd  WSPM       station
0          1  2013      3    1     0  ... -18.8   0.0  NNW   4.4  Aotizhongxin
1          2  2013      3    1     1  ... -18.2   0.0    N   4.7  Aotizhongxin
2          3  2013      3    1     2  ... -18.2   0.0  NNW   5.6  Aotizhongxin
3          4  2013      3    1     3  ... -19.4   0.0   NW   3.1  Aotizhongxin
4          5  2013      3    1     4  ... -19.5   0.0    N   2.0  Aotizhongxin
...      ...   ...    ...  ...   ...  ...   ...   ...  ...   ...           ...
35059  35060  2017      2   28    19  ... -16.2   0.0   NW   2.4  Aotizhongxin
35060  35061  2017      2   28    20  ... -15.1   0.0  WNW   0.9  Aotizhongxin
35061  35062  2017      2   28    21  ... -13.3   0.0   NW   1.1  Aotizhongxin
35062  35063  2017      2   28    22  ... -12.9   0.0  NNW   1.2  Aotizhongxin
35063  35064  2017      2   28    23  ... -15.9   0.0  NNE   1.3  Aotizhongxin

[35064 rows x 18 columns]

#Step:3 Pre-processing

In [50]:
dataset = dataset.dropna(axis =0)
dataset

          No  year  month  day  hour  ...  DEWP  RAIN   wd  WSPM       station
0          1  2013      3    1     0  ... -18.8   0.0  NNW   4.4  Aotizhongxin
1          2  2013      3    1     1  ... -18.2   0.0    N   4.7  Aotizhongxin
2          3  2013      3    1     2  ... -18.2   0.0  NNW   5.6  Aotizhongxin
3          4  2013      3    1     3  ... -19.4   0.0   NW   3.1  Aotizhongxin
4          5  2013      3    1     4  ... -19.5   0.0    N   2.0  Aotizhongxin
...      ...   ...    ...  ...   ...  ...   ...   ...  ...   ...           ...
35059  35060  2017      2   28    19  ... -16.2   0.0   NW   2.4  Aotizhongxin
35060  35061  2017      2   28    20  ... -15.1   0.0  WNW   0.9  Aotizhongxin
35061  35062  2017      2   28    21  ... -13.3   0.0   NW   1.1  Aotizhongxin
35062  35063  2017      2   28    22  ... -12.9   0.0  NNW   1.2  Aotizhongxin
35063  35064  2017      2   28    23  ... -15.9   0.0  NNE   1.3  Aotizhongxin

[31815 rows x 18 columns]

#Step:4 Feature Selection

In [51]:
df = dataset[['month','day','PM2.5', 'PM10']]
df = df[:1200]
df

      month  day  PM2.5   PM10
0         3    1    4.0    4.0
1         3    1    8.0    8.0
2         3    1    7.0    7.0
3         3    1    6.0    6.0
4         3    1    3.0    3.0
...     ...  ...    ...    ...
1342      4   25   12.0   42.0
1343      4   25   29.0  104.0
1344      4   26   24.0   88.0
1345      4   26   41.0  146.0
1346      4   26   46.0  206.0

[1200 rows x 4 columns]

In [52]:
df.dtypes

month      int64
day        int64
PM2.5    float64
PM10     float64
dtype: object

In [53]:
X = np.array(df['PM2.5']).reshape(-1,1)
Y = np.array(df['PM10']).reshape(-1,1)
month = np.array(df['month'])
day = np.array(df['day'])

#Step:5 Model Creation

In [54]:
model = LocalOutlierFactor(n_neighbors= 35 , contamination= 0.1)

#Step:6 Prediction

In [55]:
label = model.fit_predict(X,Y)
label

array([-1,  1, -1, ...,  1,  1,  1])

In [56]:
index = []
for i in range(len(label)):
  if label[i]!=1:
    index.append(i)
print("Outliers: ")
for i in index:
  print("Month",month[i]," Day", day[i])

Outliers:
Month 3  Day 1
Month 3  Day 1
Month 3  Day 1
Month 3  Day 1
Month 3  Day 1
Month 3  Day 1
Month 3  Day 1
Month 3  Day 1
Month 3  Day 2
Month 3  Day 2
Month 3  Day 2
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 7
Month 3  Day 7
Month 3  Day 7
Month 3  Day 7
Month 3  Day 7
Month 3  Day 7
Month 3  Day 7
Month 3  Day 8
Month 3  Day 8
Month 3  Day 8
Month 3  Day 8
Month 3  Day 8
Month 3  Day 8
Month 3  Day 9
Month 3  Day 9
Month 3  Day 10
Month 3  Day 10
Month 3  Day 10
Month 3  Day 11
Month 3  Day 12
Month 3  Day 12
Month 3  Day 12
Month 3  Day 13
Month 3  Day 13
Month 3  Day 14
Month 3  Day 14
Month 3  Day 15
Month 3  Day 15
Month 3  Day 15
Month 3  Day 15
Month 3  Day 16
Month 3  Day 16
Month 3  Day 16
Month 3  Day 16
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 18
Month 3  Day 18
Month 3  Day 18
Month 3  Day 21
Month 3  Day 25
Month 3  Day 26
Month 3  Day 26
Month 3  Day 27
Month 3  Day 27
Month 3  Day 27
Month 3  Day 28
Month 3  Day 28
Month 3  Day 31
Month 4  Day 2
Month 4  Day 2
Month 4  Day 2
Month 4  Day 3
Month 4  Day 3
Month 4  Day 5
Month 4  Day 5
Month 4  Day 6
Month 4  Day 6
Month 4  Day 9
Month 4  Day 9
Month 4  Day 9
Month 4  Day 9
Month 4  Day 9
Month 4  Day 10
Month 4  Day 10
Month 4  Day 10
Month 4  Day 10
Month 4  Day 10
Month 4  Day 11
Month 4  Day 11
Month 4  Day 11
Month 4  Day 13
Month 4  Day 14
Month 4  Day 14
Month 4  Day 14
Month 4  Day 14
Month 4  Day 18
Month 4  Day 18
Month 4  Day 18
Month 4  Day 18
Month 4  Day 18
Month 4  Day 18
Month 4  Day 18
Month 4  Day 23
Month 4  Day 23
Month 4  Day 23
Month 4  Day 23
Month 4  Day 24
Month 4  Day 24
Month 4  Day 24
Month 4  Day 25
Month 4  Day 25
Month 4  Day 25
Month 4  Day 25
Month 4  Day 25